<div [class]="
    (showPercent ? 'percent-' + skill.knowledgepercent: '')+' flex-row-nojust pill skill-item'">
  <app-tooltip [name]=" skillText" [icon]="skill.icon" [description]="skill.description" [direction]="direction.TOP"
    [link]="
    skill.url
      ? {
          id: 'link_for_' + skill.identifier,
          name: 'Weiterführender Link',
          type: lt.URL,
          url: skill.url
        }
      : undefined
  ">
    <p class="cat-title">
      <b>Kategorie{{ skill.skillcategories.length > 1 ? "n" : "" }}</b>
    </p>
    <div *ngFor="let category of skill.skillcategories" class="cat-container">
      <img class="skill-cat-img small-image" src="{{ category.image.path }}" alt="{{ category.image.alt }}"
        loading="lazy" />
      <p>{{ category.name }}</p>
    </div>
    <div *ngIf="hasProjects()" (click)="goToProjects()" class="pill link">Dazugehörige Projekte ansehen</div>
  </app-tooltip>
  <div *ngIf="showPercent" class="skill-cat-img-container">
    <img class="skill-cat-img small-image" *ngFor="let category of skill.skillcategories"
      src="{{ category.image.path }}" alt="{{ category.image.alt }}" loading="lazy" />
  </div>
  <div [class]="
      showPercent
        ? 'skill-title-container margin-left'
        : 'skill-title-container'
    ">
    <img class="skill-icon small-image" src="{{ skill.icon.path }}" alt="{{ skill.icon.alt }}" loading="lazy" />
    <p class="skill-title">{{ skillText }}</p>
  </div>
</div>