@use "src/scss/mixins.scss" as mixins;
@use "src/scss/variables.scss" as variables;

:host {
    & .bot {
        padding: variables.$box-padding;

        & .content>* {
            width: auto;
        }

        &:not(.skills) {
            flex: 1;
        }

        &.skills {
            width: 100%;
        }
    }
}