<h1>Projekte</h1>
<div class="filters">
  <!--app-filter [filters]="[skillsFilter]" filterName="Filtern nach Skill"
    (filterEmitter)="filterProjectsBySkill($event)"></app-filter-->
  <app-filter [filters]="filters" [additionalFilters$]="additionalFilter$"
    (filterEmitter)="filterProjects($event)"></app-filter>
  <app-sort [fields]="sortFields" (selectedEmitter)="sortProjectsBy($event)"></app-sort>
</div>
<div [@leftToRightIncrement]="(projects
| projectsSort : sortValue : sortAsc
| projectsFilter : selectedFilters).length">
  <h2 class="error" *ngIf="(projects
| projectsSort : sortValue : sortAsc
| projectsFilter : selectedFilters).length == 0">
    Leider konnten keine Projekte zu diesem Filter gefunden werden :(
  </h2>
  <app-contentbox *ngFor="
    let project of projects
      | projectsSort : sortValue : sortAsc
      | projectsFilter : selectedFilters
  " [image]="project.image" [title]="project.name" [subTitle]="project.date | pipeDate"
    [description]="project.description" [link]="project.url" [id]="project.project_id"
    [selected]="selectedProject?.project_id == project.project_id" class="menu-item">
    <div *ngIf="project.authors" class="bot authors flex-column slimpill notskills">
      <h4>Author{{ project.authors.length > 1 ? "en" : "" }}</h4>
      <div class="content flex-e2e">
        <app-button *ngFor="let author of project.authors" (click)="openClient(author.id)" [type]="lt.PERSON"
          [name]="author.name" [image]="author.image.path !== '' ? author.image : undefined"
          [showName]="true"></app-button>
      </div>
    </div>
    <div *ngIf="project.client" class="bot client flex-column slimpill notskills">
      <h4>Entwickelt für</h4>
      <div class="content flex-e2e">
        <app-button (click)="openClient(project.client.id)" [type]="lt.PERSON" [name]="project.client.name"
          [showName]="true"></app-button>
      </div>
    </div>
    <div *ngIf="project.github || project.url" class="bot links flex-column slimpill notskills">
      <h4>Link{{ project.github && project.url ? "s" : "" }}</h4>
      <div class="content flex-e2e">
        <app-button *ngIf="project.github" (click)="ol(project.github)" [type]="lt.GITHUB"
          [name]="lt.GITHUB.name"></app-button>
        <app-button *ngIf="project.url" (click)="ol(project.url)" [type]="lt.URL" [name]="lt.URL.name"></app-button>
      </div>
    </div>
    <!--div *ngIf="project.clients.length > 0" class="bot client notskills">
        <h4>Entwickelt für</h4>
        <div class="content">
            <app-button *ngFor="let client of project.clients" (click)="ol(client.url)" [type]="lt.URL" [name]="client.name"><p>{{client.name}}</p></app-button>
        </div>
  </div-->
    <div *ngIf="project.career" class="bot career flex-column slimpill notskills">
      <h4>Entwickelt bei</h4>
      <div class="content flex-e2e">
        <app-button (click)="goToCareer(project.career.career_id)" [type]="lt.OTHER"
          [name]="project.career.type === ct.SCHOOL ? project.career.school?.name! : project.career.workplace?.name!"
          [showName]="true"></app-button>
      </div>
    </div>
    <div bottom class="bot skills flex-column slimpill">
      <h4>Skill{{ project.skills.length > 1 ? "s" : "" }}</h4>
      <div class="content flex-e2e">
        <app-skill-item *ngFor="let skill of project.skills" [showPercent]="false" [skill]="skill"></app-skill-item>
      </div>
    </div>
  </app-contentbox>
</div>