<nav class="navbar">
  <ul class="flex-row">
    <li class="flex-row">
      <p class="type-title">Interessiert an</p>
      <div *ngFor="let type of types" class="type-container">
        <img [src]="type.icon.path" [alt]="type.icon.alt" class="small-image" (click)="setInterest(type.type)" />
        <app-tooltip [name]="type.name" [direction]="d.RIGHT"></app-tooltip>
      </div>
    </li>
    <li>
      <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page" class="link pill">Home</a>
    </li>
    <li>
      <a routerLink="career" routerLinkActive="active" ariaCurrentWhenActive="page" class="link pill">Karriere</a>
    </li>
    <li>
      <a routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page" class="link pill">Projekte</a>
    </li>
    <li>

    </li>
  </ul>
</nav>