@use "src/scss/variables.scss" as variables;
@use "src/scss/mixins.scss" as mixins;

:host {
    width: 100%;

    & .navbar {
        background-color: variables.$cool;
        padding: variables.$elem-padding;

        & ul {
            margin: 0;
            padding: 0;

            & li {
                list-style: none;

                & .active {
                    @include mixins.darken-little(background-color);
                }
            }

            & .type-title {
                flex: 100%;
            }

            & div {

                & app-tooltip {
                    @include mixins.transitions((opacity: 0, visibility: hidden));
                }

                & img {
                    &:hover {
                        cursor: pointer;

                        &~app-tooltip {
                            @include mixins.transitions((opacity: 1, visibility: visible));
                        }
                    }
                }
            }
        }
    }
}