@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

:host {
    width:100%;
    & .navbar {
        background-color: $cool;
        padding:$padding;
        & ul {
            @include flex-row;
            margin:0;
            padding:0;
            & li {
                list-style: none;
                & a {
                    @include link;
                }
            }
        }
    }
}