@use "src/scss/variables.scss" as variables;
@use "src/scss/mixins.scss" as mixins;
@use "src/scss/screens.scss" as screens;

:host {
    width: 100%;

    & .navbar {
        background-color: variables.$cool;
        padding: variables.$elem-padding;

        & ul {
            margin: 0;
            padding: 0;
            position: relative;

            @include screens.mobile-screen {
                & .home {
                    padding-left: variables.$elem-size;
                }

                & .projects {
                    padding-right: variables.$elem-size;
                }
            }

            & li {
                list-style: none;

                & .active {
                    @include mixins.darken-little(background-color);
                }

                &.languages {
                    position: absolute;
                    right: variables.$elem-size;

                    @include screens.mobile-screen {
                        right: 0;
                    }
                }

                &.interests {
                    position: absolute;
                    left: variables.$elem-size;

                    @include screens.mobile-screen {
                        left: 0;
                    }

                    & .icon {
                        height: variables.$elem-border-radius;
                        width: variables.$elem-border-radius;
                    }

                    & .dropdown {
                        position: fixed;
                        padding: variables.$elem-size;
                        background-color: variables.$light2;
                        border-top-color: variables.$cool;
                        z-index: variables.$top;
                        left: variables.$elem-size;
                        top: variables.$elem-height;

                        & .close {
                            height: variables.$elem-size * 2;
                            width: variables.$elem-size * 2;
                            text-align: center;
                            margin-top: - variables.$elem-padding;
                        }

                        & .types {
                            & .type-container>* {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            & h5 {
                                margin-left: variables.$elem-padding;
                            }
                        }
                    }
                }
            }
        }
    }
}