@import 'src/scss/mixins.scss';

:host {
    @include wrapper;
    & .bottomLinks{
        @include flex-e2e;
        width:100%;
        & >div{
            @include flex-list;
            &>img{
                @include link;
                @include preview-image;
            }
            & h5 {
                @include pill;
            }
            & .contactButtons{
                @include flex-e2e;
            }
            align-self:flex-start;
            width:50%;
            height:100%;
        }
        & div:not(.active)>*:not(img){
            display:none;
        }
    }
}