@use "src/scss/variables.scss" as variables;
@use "src/scss/mixins.scss" as mixins;
@import "image.mixin.scss";

:host {
    @include main-image-container;
    @include mixins.flex-center;
    //border-radius: variables.$elem-border-radius;
    overflow: hidden;
    position: relative;
    height:100%;
    & .img-bg {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //border-radius: variables.$elem-border-radius;
        z-index: variables.$below-bottom;
        & > div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            filter: blur(variables.$elem-size);
            -webkit-filter: blur(variables.$elem-size);
            z-index: variables.$below-bottom;
        }
    }
    & img {
        @include main-image;
        z-index: variables.$bottom;
    }
}
