@use "src/scss/variables.scss" as variables;
@use "src/scss/screens.scss" as screens;

@mixin img-height($prop, $mod) {
    @include screens.mobile-screen {
        #{$prop}: calc(variables.$img-height-m + $mod);
    }
    @include screens.tablet-screen {
        #{$prop}: calc(variables.$img-height-t + $mod);
    }
    @include screens.desktop-screen {
        #{$prop}: calc(variables.$img-height-d + $mod);
    }
}

@mixin main-image-container {
    width: 100%;
    //border-radius: variables.$elem-border-radius;
    @include img-height(max-height, 0vh);
}

@mixin main-image {
    min-width: variables.$img-width;
    min-height: variables.$img-width;
    max-width: 100%;
    @include img-height(max-height, 0vh);
}
