@import "src/scss/variables.scss";
@import "image.mixin.scss";

:host {
    @include main-image-container;
    @include flex-center;
    //border-radius: $elem-border-radius;
    overflow: hidden;
    position: relative;
    & .img-bg {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //border-radius: $elem-border-radius;
        z-index: 0;
        & > div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            filter: blur($elem-size);
            -webkit-filter: blur($elem-size);
            z-index: 0;
        }
    }
    & img {
        @include main-image;
        z-index: 1;
    }
}
