@use "src/scss/screens.scss" as screens;

$img-width: 15rem;
$img-height-m: 60vh;
$img-height-t: 40vh;
$img-height-l: 50vh;
$img-height-d: 50vh;
$img-height-x: 50vh;

@mixin img-height($prop, $mod) {
    @include screens.mobile-screen {
        #{$prop}: calc($img-height-m + $mod);
    }

    @include screens.tablet-screen {
        #{$prop}: calc($img-height-t + $mod);
    }

    @include screens.laptop-screen {
        #{$prop}: calc($img-height-l + $mod);
    }

    @include screens.desktop-screen {
        #{$prop}: calc($img-height-d + $mod);
    }

    @include screens.large-screen {
        #{$prop}: calc($img-height-x + $mod);
    }
}

@mixin main-image-container {
    width: 100%;
    @include img-height(max-height, 0vh);
}

@mixin main-image {
    min-width: $img-width;
    min-height: $img-width;
    max-width: 100%;
    @include img-height(max-height, 0vh);
}