@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

:host {
    position:relative;
    width:100%;
    background-color: $apple;
    & .slide {
        display:none;
        &.active {
            @include main-image-proportions;
            min-height:$img-width;
            @include flex-center;
            & img {
                @include main-image;
            }
        }
    }
    & .dots{
        @include flex-row;
        position:absolute;
        top:0;
        width:100%;
        height:$elem-border-radius;
        & >div {
            height:$elem-size;
            width:$elem-size;
            border:$thin solid $cool;
            border-radius: $border-radius-circle;
            @include darken-little(border-color, $cool);
            position:relative;
            &::after{
                content:"";
                @include darken-little(border-color, $cool);
                width:80%;
                height:80%;
                top:10%;
                left:10%;
                border-radius: $border-radius-circle;
                display:block;
                position:absolute;
            }
            //background-color:$cool;
            &:hover{
                cursor:pointer;
                background-color:$cool;
            }
            &.active{
                background-color:$cool;
            }
        }
    }
    & .arrow{
        position:absolute;
        bottom:0;
        height:calc(100% - $elem-border-radius);
        width:50%;
        &:hover{
            cursor:pointer;
            & i{
                @include transition(opacity, $opacity-mid);
            }
        }
        & i {
            border: $elem-size solid $cool;
            border-width: 0 $elem-size $elem-size 0;
            @include transition(opacity, $opacity-min);
            position:absolute;
            top:50%;
            padding: $elem-size;
            display: inline-block;
            &:hover{
                @include transition(opacity, $opacity-max);
            }
        }
        &.left{
            left:0;
            & i {
                left:$elem-size;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
        }
        &.right{
            right:0;
            & i, img {
                right:$elem-size;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
    }
}