<div class="carousel">
  <div *ngFor="let slide of images; index as i" class="slide"
    [class]="current === i ? 'active flex-center' : 'notactive'">
    <app-image [image]="slide"></app-image>
  </div>
  <div class="arrow left" (click)="showSlide(current - 1)">
    <div><i></i></div>
  </div>
  <div class="arrow right" (click)="showSlide(current + 1)">
    <div><i></i></div>
  </div>
</div>
<div class="dots flex-row">
  <div *ngFor="let slide of images; index as i" (click)="showSlide(i)" [class]="current === i ? 'active' : 'notactive'">
  </div>
</div>