<div class="carousel" (touchstart)="touchStart($event)" (touchend)="touchEnd()" (touchcancel)="touchCancel()"
  (touchmove)="touchMove($event)">
  <div class="slide flex-center">
    <ng-container *ngFor="let slide of images; index as i">
      <app-image [image]="slide" *ngIf="current === i" [@carouselAnimation]="slidingTo"></app-image>
    </ng-container>
  </div>
  <div class="arrow left" (click)="showSlide(current - 1)">
    <div><i></i></div>
  </div>
  <div class="arrow right" (click)="showSlide(current + 1)">
    <div><i></i></div>
  </div>
</div>
<div class="dots flex-row">
  <div *ngFor="let slide of images; index as i" (click)="showSlide(i)" [class]="current === i ? 'active' : 'notactive'">
  </div>
</div>