@use "src/scss/variables.scss" as variables;
@use "src/scss/mixins.scss" as mixins;

@mixin arrow($direction, $transform) {
    #{$direction}:0;
    & div {
        position:absolute;
        top:50%;
        @include mixins.transition(#{$direction},-15%);
        & i {
            #{$direction}:variables.$elem-padding;
            transform: rotate(#{$transform});
            -webkit-transform: rotate(#{$transform});
        }
    }
    &:hover{
        & div {
            #{$direction}:0;
        }
    }
}