@use "src/scss/variables.scss" as variables;
@use "src/scss/mixins.scss" as mixins;
@import "carousel.mixin.scss";

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;

    //background-color: $apple;
    & .carousel {
        position: relative;
        height: 100%;

        & .slide {
            &:not(.active) {
                display: none;
            }

            &.active {
                height: 100%;
            }
        }

        & .arrow {
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 50%;
            z-index: variables.$middle;
            overflow: hidden;

            &:hover {
                cursor: pointer;

                & i {
                    @include mixins.transition(opacity, variables.$opacity-mid);
                }
            }

            & i {
                border: variables.$elem-size solid variables.$cool;
                border-width: 0 variables.$elem-size variables.$elem-size 0;
                @include mixins.transition(opacity, variables.$opacity-min);
                position: absolute;
                top: 50%;
                padding: variables.$elem-size;
                display: inline-block;

                &:hover {
                    @include mixins.transition(opacity, variables.$opacity-max);
                }
            }

            &.left {
                @include arrow(left, 135deg);
            }

            &.right {
                @include arrow(right, -45deg);
            }
        }
    }

    & .dots {
        width: 100%;
        padding-top: variables.$elem-padding;

        &>div {
            height: variables.$elem-size;
            width: variables.$elem-border-radius;
            border: variables.$thin solid variables.$cool;
            border-radius: variables.$elem-size;
            @include mixins.darken-little(border-color, variables.$cool);
            position: relative;

            &::after {
                content: "";
                width: 80%;
                height: 80%;
                top: 10%;
                left: 10%;
                border-radius: variables.$elem-size;
                position: absolute;
            }

            &:hover {
                cursor: pointer;

                &::after {
                    @include mixins.darken-little(background-color, variables.$cool);
                    display: block;
                }
            }

            &.active {
                &::after {
                    @include mixins.darken-little(background-color, variables.$cool);
                    display: block;
                }
            }
        }
    }
}