<div class="sortComp">
    <div class="sortTitle">
        <img class="arrowImg" src="{{arrowIcon.path}}" alt="{{arrowIcon.alt}}" loading="lazy">
        <h3>Sortieren nach</h3>
    </div>
    <select #sortFields name="sortFields" id="sortFields" [(ngModel)]="selectedValue" (change)="selectItem()">
        <option *ngFor="let field of fields" [ngValue]="field">{{field.name}}</option>
    </select>
    <select #sortAsc name="sortAsc" id="sortAsc" [(ngModel)]="ascending" (change)="selectItem()">
        <option [ngValue]="false">Absteigend</option>
        <option [ngValue]="true">Aufsteigend</option>
    </select>
</div>