<div class="sortTitle flex-row-nojust">
    <!--img class="arrowImg small-image" src="{{arrowIcon.path}}" alt="{{arrowIcon.alt}}" loading="lazy"-->
    <h3>Sortieren</h3>
</div>
<app-select [name]="'Eigenschaft'" [fields]="editedFields" [alwaysShowName]="false" [allowMultiple]="false"
    (selectEmitter)="selectField($event)"></app-select>
<app-select [name]="'Reihenfolge'" [fields]="ascdescFields" [alwaysShowName]="false" [allowMultiple]="false"
    (selectEmitter)="selectAsc($event)"></app-select>