@use "src/scss/variables.scss" as variables;
@use "src/scss/screens.scss" as screens;

:host {
    position: absolute;
    z-index: variables.$above-top;

    &.is-top {
        width: 100%;
        height: variables.$elem-padding;
        bottom: calc(100%);
    }

    &.is-bottom {
        width: 100%;
        height: variables.$elem-padding;
        top: calc(100%);
    }

    &.is-right {
        height: 100%;
        width: variables.$elem-padding;
        left: calc(100%);
    }

    &.is-left {
        height: 100%;
        width: variables.$elem-padding;
        right: calc(100%);
    }

    & .tooltip {
        background-color: variables.$light2;
        border-radius: variables.$elem-border-radius;
        padding: variables.$elem-size;
        position: absolute;

        & .name-title {
            font: {
                weight: bold;
                family: variables.$mono;
            }
        }

        & .link-title {
            font-weight: bold;
        }

        & .name-container,
        .link-container {
            width: 100%;

            & * {
                display: inline-block;
            }
        }

        & .tooltip-content {
            margin: variables.$elem-padding 0;
        }

        & .link-container:hover {
            cursor: pointer;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
        }

        &.direction-top {
            bottom: calc(100% + variables.$elem-size);
            left: calc(((100% - var(--tooltipwidth)) / 2) - var(--marginright) + var(--marginleft));
            width: var(--tooltipwidth);

            &::after {
                left: calc(50% - variables.$elem-size + var(--marginright) - var(--marginleft));
                top: 100%;
                border-left: variables.$elem-size solid transparent;
                border-right: variables.$elem-size solid transparent;
                border-top: variables.$elem-size solid variables.$light2;
            }
        }

        &.direction-bottom {
            top: calc(100% + variables.$elem-size);
            left: calc(((100% - var(--tooltipwidth)) / 2) - var(--marginright) + var(--marginleft));
            width: var(--tooltipwidth);

            &::after {
                left: calc(50% - variables.$elem-size + var(--marginright) - var(--marginleft));
                bottom: 100%;
                border-left: variables.$elem-size solid transparent;
                border-right: variables.$elem-size solid transparent;
                border-bottom: variables.$elem-size solid variables.$light2;
            }
        }

        &.direction-right {
            bottom: calc(50% - 5vw);
            left: calc(100% + variables.$elem-size);
            height: 10vw;
            width: 25vw;

            @include screens.mobile-screen {
                bottom: calc(50% - 10vw);
                height: 20vw;
                width: 40vw;
            }

            @include screens.tablet-screen {
                bottom: calc(50% - 7.5vw);
                height: 15vw;
                width: 30vw;
            }

            &::after {
                right: 100%;
                top: calc(50% - variables.$elem-size);
                border-top: variables.$elem-size solid transparent;
                border-bottom: variables.$elem-size solid transparent;
                border-right: variables.$elem-size solid variables.$light2;
            }
        }

        &.direction-left {
            bottom: calc(50% - 5vw);
            right: calc(100% + variables.$elem-size);
            height: 10vw;
            width: 25vw;

            @include screens.mobile-screen {
                bottom: calc(50% - 10vw);
                height: 20vw;
                width: 50vw;
            }

            @include screens.tablet-screen {
                bottom: calc(50% - 7.5vw);
                height: 15vw;
                width: 30vw;
            }

            &::after {
                left: 100%;
                top: calc(50% - variables.$elem-size);
                border-top: variables.$elem-size solid transparent;
                border-bottom: variables.$elem-size solid transparent;
                border-left: variables.$elem-size solid variables.$light2;
            }
        }
    }
}