@import 'src/scss/variables';
@import 'src/scss/mixins';

:host {
    & a {
        @include link;
        @include flex-center;
        height:$elem-height;
        width:$elem-height;
        & img {
            object-fit: contain;
            width:80%;
        }
    }
}