<div (click)="isActive = !isActive" class="showTags flex-row-nojust link">
    <img [class]="(isActive ? '' : 'notactive ') +'arrowImg small-image'" src="{{ arrowIcon.path }}"
        alt="{{ arrowIcon.alt }}" loading="lazy" />
    <p>{{getName()}}</p>
</div>
<div *ngIf="isActive" class="tags" [@dropDownMenu]>
    <div *ngFor="let field of fields" [class]="(isSelected(field) ? 'active ' : '')+'menu-item tag link'"
        (click)="emitSelected(field)">
        <!--img *ngIf="field.image" src="{{ field.image.path }}" alt="{{ field.image.alt }}" class="tagIcon small-image"
            loading="lazy" /-->
        <p>{{ field.name }}</p>
    </div>
</div>