@use "src/scss/mixins.scss" as mixins;
@use "src/scss/variables.scss" as variables;
@use"src/scss/screens.scss" as screens;

:host {
    cursor: pointer;
    position: relative;
    border-top: variables.$defborderthin;

    & .showTags {
        padding: calc(variables.$elem-padding / 2) variables.$elem-padding;
    }

    & p {
        font-family: variables.$mono;
    }

    & .tags {
        z-index: variables.$highest;
        position: absolute;
        background-color: variables.$cool;
        width: 100%;
        //border-left: variables.$defborderthin;

        //border-right: variables.$defborderthin;
        & .tag {
            &>* {
                display: inline-block;
            }

            &:last-child {
                margin-bottom: variables.$elem-padding;
            }

            border-left: variables.$defborderthin;
            margin: variables.$elem-padding;
            margin-bottom: 0;
            cursor: pointer;

            &.active {
                border-left: variables.$defborder;

                &:hover {
                    @include mixins.darken-little-custom(border-color, variables.$light2);
                }
            }

            &:hover {
                @include mixins.transition(border-left, variables.$defborder);
            }
        }
    }

}