@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

:host {
    & span {
        @include link;
        @include flex-center;
        height:$elem-height;
        width:$elem-height;
        & img {
            object-fit: contain;
            width:80%;
        }
    }
}