@use "scss/variables.scss" as variables;
@use "scss/screens.scss" as screens;
@import "scss/classes.scss";

* {
  box-sizing: border-box;
}

@include screens.mobile-screen {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{calc((((7 - $i) * 1.8) + 3) / 10)}em;
    }
  }
}

@include screens.tablet-screen {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{calc((((7 - $i) * 1.7) + 6) / 10)}em;
    }
  }
}

@include screens.laptop-screen {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{calc((((7 - $i) * 1.6) + 7) / 10)}em;
    }
  }
}

@include screens.desktop-screen {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{calc((((7 - $i) * 1.8) + 8) / 10)}em;
    }
  }
}

@include screens.large-screen {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{calc((((7 - $i) * 2) + 9) / 10)}em;
    }
  }
}

h1 {
  margin-top: variables.$elem-size;
}

h1,
h2 {
  margin: 0;
  font-family: variables.$mono;
  color: variables.$fontcolor2;
  text-align: center;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: variables.$mono;
  color: variables.$fontcolor1;
}

p,
form,
select,
output {
  margin: 0;
  font-family: variables.$sans;
  color: variables.$fontcolor1;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: variables.$fontcolor1;

  font {
    family: variables.$sans;
    weight: bold;
    size: 1em;
  }
}

::-webkit-scrollbar {
  width: variables.$elem-padding;
}

::-webkit-scrollbar-thumb {
  background-color: variables.$light1 !important;
  border-radius: 0 !important;

  &:hover {
    background-color: variables.$light2 !important;
  }
}

::-webkit-scrollbar-track {
  background-color: variables.$blue2;
}

::selection {
  background-color: variables.$blue1;
}

body {
  margin: 0;
  background-color: variables.$dark1;

  &.loaded {
    &#it{
      background-image: url('assets/bg/circuit-board.svg');
    }
    &#art{
      background-image: url('assets/bg/random-shapes.svg');
    }
    &#general{
      background-image: url('assets/bg/hexagons.svg');
    }
    &#health{
      background-image: url('assets/bg/topography.svg');
    }
    &#education{
      background-image: url('assets/bg/jigsaw.svg');
    }
  }
}