@import 'variables';

@mixin link {
    padding:$elem-padding;
    border-radius: $elem-border-radius;
    text-decoration: none;
    color: $black;
    font: {
        family:$mono;
        size:$elem-size;
    }
    background-color: $cool;
    &:hover {
        @include darken-little($cool);
    }
}