@use "src/scss/variables.scss" as variables;
@use "src/scss/screens.scss" as screens;

@mixin wrapper {
    padding: variables.$wrapper-padding;
    @include screens.mobile-screen {
        width: variables.$wrapper-width;
    }
    @include screens.tablet-screen {
        width: calc(variables.$wrapper-width / 1.2);
    }
    @include screens.desktop-screen {
        width: calc(variables.$wrapper-width / 1.7);
    }
}

@mixin slimpill {
    margin: variables.$thin 0;
    color: variables.$fontcolor1;
    background-color: variables.$cool;
    border: none;
    border-top: variables.$defborderthin;
    //border-bottom: variables.$defborderthin;
    font-family: variables.$mono;
}

@mixin pill {
    @include slimpill;
    display: inline-block;
    padding: calc(variables.$elem-padding / 2) variables.$elem-padding;
    border-radius: variables.$elem-size * 2;
}

@mixin link {
    &:hover {
        @include darken-little(background-color, variables.$cool);
        cursor: pointer;
    }
}
/*
@mixin slimpill {
    margin: 0;
    border-radius: variables.$elem-border-radius;
    color: $black;
    background-color: variables.$cool;
    font: {
        family: variables.$mono;
        size: variables.$elem-size;
    }
}

@mixin pill {
    @include slimpill;
    display: inline-block;
    padding: variables.$elem-padding;
}

@mixin link {
    text-decoration: none;
    border: none;
    &:hover {
        @include darken-little(background-color, variables.$cool);
        cursor: pointer;
    }
}
*/
@mixin preview-image {
    border-radius: variables.$border-radius-circle;
    height: variables.$elem-height;
    width: variables.$elem-height;
    padding: variables.$elem-padding;
}

@mixin small-image {
    height: variables.$elem-size;
    width: variables.$elem-size;
    margin: auto variables.$elem-padding auto 0;
}

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin darken-little($property, $color) {
    #{$property}: darken($color, variables.$little);
    transition: #{$property} variables.$trans-cb;
}

@mixin transition($property, $value) {
    #{$property}: $value;
    transition: #{$property} variables.$trans-cb;
}

@mixin transitions($args){
    $transition: ();
    @each $property, $value in $args {
        #{$property}:$value;
        $transition: append($transition, ($property variables.$trans-cb), $separator: comma);
    } 
    transition: $transition;
}

@mixin default-grid {
    display: grid;
    //column-gap: variables.$elem-padding;
    column-gap: variables.$thin * 2;
}

@mixin flex-row {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    align: {
        items: center;
        content: space-around;
    }
    justify-content: space-around;
}

@mixin flex-row-just {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    justify-content: space-evenly;
}

@mixin flex-row-nojust {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
}

@mixin flex-e2e {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    align: {
        items: center;
        content: space-between;
    }
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
