@import 'variables.scss';

@mixin wrapper {
    width: $wrapper-width;
    padding:$wrapper-padding;
}

@mixin slimpill {
    margin:0;
    border-radius: $elem-border-radius;
    color: $black;
    background-color: $cool;
    font: {
        family:$mono;
        size:$elem-size;
    }
}

@mixin pill {
    @include slimpill;
    display:inline-block;
    padding:$elem-padding;
}

@mixin link {
    @include pill;
    text-decoration: none;
    border:none;
    &:hover {
        @include darken-little($cool);
        cursor:pointer;
    }
}

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin darken-little($color) {
    background-color: darken($color, 15%);
    transition: background-color $trans-cb;
}

@mixin flex-row {
    display:flex;
    flex: {
        direction:row;
        wrap:wrap;
    }
    align: {
        items:center;
        content:space-around;
    }
    justify-content: space-around;
}

@mixin flex-e2e {
    display:flex;
    flex: {
        direction:row;
        wrap:wrap;
    }
    align: {
        items:center;
        content:space-between;
    }
    justify-content: space-between;
}

@mixin flex-column {
    display:flex;
    flex-direction:column;
    align-items:center;
}

@mixin flex-center {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

@mixin flex-list {
    display:flex;
    flex-direction:column;
    align-items:baseline;
}