@use "src/scss/variables.scss" as variables;
@use "src/scss/screens.scss" as screens;


@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }

    #{$property}: $value;
}

@mixin darken-little($property, $color) {
    #{$property}: darken($color, variables.$little);
    transition: #{$property} variables.$trans-cb;
}

@mixin transition($property, $value) {
    #{$property}: $value;
    transition: #{$property} variables.$trans-cb;
}

@mixin transitions($args) {
    $transition: ();

    @each $property,
    $value in $args {
        #{$property}: $value;
        $transition: append($transition, ($property variables.$trans-cb), $separator: comma);
    }

    transition: $transition;
}