$mobile-max: 480px;
$tablet-max: 768px;
$laptop-max: 1024px;
$desktop-max: 1200px;

@mixin mobile-screen {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

@mixin tablet-screen {
  @media (min-width: #{$mobile-max + 1px}) and (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin laptop-screen {
  @media (min-width: #{$tablet-max + 1px}) and (max-width: #{$laptop-max}) {
    @content;
  }
}

@mixin desktop-screen {
  @media (min-width: #{$laptop-max + 1px}) and (max-width: #{$desktop-max}) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: #{$desktop-max + 1px}) {
    @content;
  }
}