$black:rgb(22, 22, 19);
$dark:rgb(43, 43, 38);
$white: rgb(237, 242, 244);
$cool: rgb(142, 141, 190);
$bitter: rgb(237, 106, 90);
$apple: rgb(135, 163, 48);

$wrapper-width:80%;
$border-radius-circle: 50%;
$padding:0.5em;
$elem-size:1em;
$elem-padding:$elem-size / 2;
$elem-border-radius: $elem-size * 2;
$elem-height: $elem-size * 4;
$wrapper-padding: 2em 0;
$img-width:15em;

$contentbox-left-s:30%;
$contentbox-right-s:70%;

$contentbox-left-b:50%;
$contentbox-right-b:50%;

$defborder: solid $cool $elem-padding;

$mono: RedHatMono, Courier, monospace;
$sans: WorkSans, Helvetica, sans-serif;

$trans-cb: cubic-bezier(.46,0,.37,.82) 0.5s;

@font-face {
    font-family: RedHatMono;
    src: url(../assets/fonts/Red_Hat_Mono/static/RedHatMono-Medium.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf);
}
