$black: rgb(20, 27, 30); // 141B1E
$dark1: rgb(35, 42, 45); // 232A2D
$dark2: rgb(45, 52, 55); // 2D3437
$light1: rgb(179, 185, 184); // B3B9B8
$light2: rgb(189, 195, 194); // BDC3C2
$red1: rgb(229, 116, 116); // E57474
$red2: rgb(239, 126, 126); // EF7E7E
$green1: rgb(140, 207, 126); // 8CCF7E
$green2: rgb(150, 217, 136); // 96D988
$yellow1: rgb(229, 199, 107); // E5C76B
$yellow2: rgb(244, 214, 122); // F4D67A
$blue1: rgb(103, 176, 232); // 67B0E8
$blue2: rgb(113, 186, 242); // 71BAF2
$purple1: rgb(196, 127, 213); // C47FD5
$purple2: rgb(206, 137, 223); // CE89DF
$cyan1: rgb(108, 191, 191); // 6CBFBF
$cyan2: rgb(103, 203, 231); // 67CBE7

$transparent-darken: rgba(0, 0, 0, 0.1);
$transparent-lighten: rgba(255, 255, 255, 0.3);

$little: 15%;

$opacity-min: 30%;
$opacity-mid: 65%;
$opacity-max: 85%;

$border-radius-circle: 50%;

$elem-size: 1rem;
$elem-padding: $elem-size / 2;
$elem-border-radius: $elem-size * 2;
$elem-height: $elem-size * 4;
$thin: 0.15rem;

$wrapper-width: 90%;
$wrapper-width-large: 80%;
$wrapper-padding: $elem-size 0;
$wrapper-margin: $elem-size 0;

$box-padding: 0 $elem-padding $elem-padding $elem-padding;

$contentbox-left-s: 30%;
$contentbox-right-s: 70%;

$contentbox-left-b: 50%;
$contentbox-right-b: 50%;

/*$black: rgb(22, 22, 19);
$dark: rgb(43, 43, 38);*/
$white: rgb(237, 242, 244);
//$cool: rgb(142, 141, 190);
//$cool: rgba(103, 176, 232, 0.9);
$cool: var(--customcolor);
$cooldarken: var(--customcolordarken);
$dark1trans: rgba(35, 42, 45, 0.9);

$fontcolor1: $dark1;
$fontcolor2: $light2;

/*
$defborderthin: solid $cool $thin;
$defborder: solid $cool $elem-padding;
$darkborder: solid darken($cool, $little) $thin;
*/
$defborderthin: solid $light2 $thin;
$defborder: solid $light2 $elem-padding;
$darkborder: solid darken($light2, $little) $thin;

$mono: RedHatMono, Courier, monospace;
$sans: WorkSans, Helvetica, sans-serif;

$trans-cb: cubic-bezier(0.46, 0, 0.37, 0.82) 0.3s;
$cubic-bezier: cubic-bezier(0.46, 0, 0.37, 0.82);
$trans-duration: 0.3s;

$below-bottom: 0;
$bottom: 1;
$middle: 2;
$top: 3;
$above-top: 4;

@font-face {
    font: {
        family: RedHatMono;
        display: swap;
    }

    src: url(../assets/fonts/Red_Hat_Mono/static/RedHatMono-Medium.ttf);
}

@font-face {
    font: {
        family: WorkSans;
        display: swap;
    }

    src: url(../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf);
}