@use "src/scss/variables.scss" as variables;
@use "src/scss/screens.scss" as screens;

:host {
    & .welcome {
        margin-bottom: variables.$elem-size;

        @include screens.mobile-screen {
            grid-template-areas:
                "img"
                "socials"
                "desc";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        @include screens.tablet-screen {
            grid-template-areas:
                "img"
                "socials"
                "desc";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        @include screens.laptop-screen {
            grid-template-areas: "img desc"
                "socials socials";
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr auto;
        }

        @include screens.desktop-screen {
            grid-template-areas: "img desc"
                "socials socials";
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr auto;
        }

        @include screens.large-screen {
            grid-template-areas: "img desc"
                "socials socials";
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr auto;
        }

        & .photo {
            grid-area: img;

            & img {
                //max-width: 100%;
                max-width: 90%;
                max-height: 100%;
                border-radius: 50%;
                border: variables.$defborderthin;
                filter: url(#svg-img-filter);
                -webkit-filter: url(#svg-img-filter);
            }
        }

        & .desc {
            padding: variables.$box-padding;
            grid-area: desc;

            & .age {
                font-family: variables.$mono;
            }

            & a {
                border-bottom: variables.$defborderthin;
                //text-decoration: underline;
                border-radius: variables.$elem-padding;
                white-space: nowrap;
            }
        }

        & .socials {
            padding: variables.$elem-padding;
            grid-area: socials;

            & .socialstext {
                @include screens.mobile-screen {
                    flex: 100%;
                }

                @include screens.tablet-screen {
                    flex: 100%;
                }

                @include screens.laptop-screen {
                    flex: 3;
                }

                margin:auto 0;
            }
        }
    }
}