@use "src/scss/mixins.scss" as mixins;
@use "src/scss/variables.scss" as variables;
@use "src/scss/screens.scss" as screens;

:host {
    @include mixins.wrapper;
    & .welcome {
        margin-bottom: variables.$elem-size;
        @include mixins.default-grid;
        @include screens.mobile-screen {
            grid-template-areas: 
            "img"
            "desc"
            "socials";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
        }
        @include screens.tablet-screen {
            grid-template-areas: "img desc"
                                "socials socials";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto;
        }
        @include screens.desktop-screen {
            grid-template-areas: "img desc"
                                "socials socials";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto;
        }
        & .photo{
            @include mixins.slimpill;
            grid-area: img;
        }
        & .desc {
            padding: variables.$box-padding;
            @include mixins.slimpill;
            grid-area: desc;
            & .age {
                font-family:variables.$mono;
            }
        }
        & .socials {
            @include mixins.slimpill;
            padding: variables.$elem-padding;
            grid-area: socials;
            @include mixins.flex-row-just;
            & app-button, .socialstext {
                flex:1;
            }
        }
    }
}
