@use "src/scss/variables.scss" as variables;
@use "src/scss/mixins.scss" as mixins;
@use"src/scss/screens.scss" as screens;

:host {
    display: block;

    & .preview {
        width: 100%;
        //border-radius:variables.$elem-border-radius;
        margin-top: variables.$elem-padding;

        & .arrowImg {
            grid-area: arrow;
            padding: variables.$elem-padding;
        }

        & .title {
            grid-area: title;
            padding: 0 variables.$elem-padding;
            color: variables.$fontcolor1;
        }

        &.notactive {
            grid-template-columns: variables.$elem-height 1fr variables.$elem-height variables.$elem-height;
            grid-template-areas: "image title link arrow";

            & .previewImg {
                grid-area: image;
            }

            & app-button {
                grid-area: link;
            }
        }

        &.active {
            grid-template-columns: 1fr variables.$elem-height;
            grid-template-areas: "title arrow";
        }
    }

    & .items {
        @include screens.mobile-screen {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "desc"
                "image"
                "bottom"
                "belowbottom";
        }

        @include screens.tablet-screen {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "desc"
                "image"
                "bottom"
                "belowbottom";
        }

        @include screens.laptop-screen {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "image  desc"
                "image bottom"
                "belowbottom belowbottom";
        }

        @include screens.desktop-screen {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "image  desc"
                "image bottom"
                "belowbottom belowbottom";
        }

        @include screens.large-screen {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "image  desc"
                "image bottom"
                "belowbottom belowbottom";
        }

        & .mainImg {
            grid-area: image;
            display: flex;
            margin-bottom: 0;
            height: calc(100% - variables.$thin)
        }

        & .desc {
            grid-area: desc;
            padding: variables.$box-padding;
            margin-bottom: 0;
            height: calc(100% - variables.$thin)
        }

        & .bottom {
            grid-area: bottom;
        }

        & .belowbottom {
            grid-area: belowbottom;
            background-color: transparent;
            border-top: none;
        }
    }
}