@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

:host {
    width: 100%;
    padding:$wrapper-padding;
    border:$defborder;
    margin: $padding 0;
    @include flex-column;
    & .top {
        width:100%;
        @include flex-row;
        & img {
            border-radius: $border-radius-circle;
            width:$img-width;
        }
    }
    & .bottom {
        width:100%;
        @include flex-row;
    }
}