<div #cbToggle>
    <div class="preview" (click)="cbToggle.classList.toggle('active')">
        <img *ngIf="preview" class="previewImg" src="{{preview.path}}" alt="{{preview.alt}}" loading="lazy">
        
        <h3 class="title" *ngIf="!link">{{title}}</h3>
        <h3 class="title" *ngIf="link"><a href="{{link}}" target="_blank">{{title}}</a></h3>
        
        <img class="arrowImg" src="{{arrowIcon.path}}" alt="{{arrowIcon.alt}}" loading="lazy">
    </div>
    <div class="mainImg">
        <app-carousel *ngIf="isCarousel" [images]="images"></app-carousel>
        <app-image *ngIf="!isCarousel" [image]="image"></app-image>
    </div>
    
    <div class="desc">
        <h4 *ngIf="subTitle">{{subTitle}}</h4>
        <p>{{description}}</p>
    </div>
    <div class="bottom">
        <ng-content></ng-content>
    </div>
</div>