@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";
@import "src/scss/screens.scss";

:host {
    & .filterComp {
        @include slimpill;
        & .filterTitle {
            width: 100%;
            @include flex-e2e;
        }
        & .filterItems {
            display: none;
            &.active {
                @include flex-row-nojust;
                & > div {
                    @include mobile-screen {
                        width: calc(50% - ($elem-padding * 2));
                    }
                    @include tablet-screen {
                        width: calc((100% / 3) - ($elem-padding * 2));
                    }
                    @include desktop-screen {
                        width: calc(25% - ($elem-padding * 2));
                    }
                    margin: $elem-padding;
                    cursor: pointer;
                    position: relative;
                    border-top: $defborderthin;
                    &.active {
                        & .tags,
                        .range {
                            position: absolute;
                            @include flex-list;
                            background-color: $cool;
                            width: 100%;
                            z-index: 10;
                            border-left: $defborderthin;
                            //border-right: $defborderthin;
                            & > .tag {
                                & .tagIcon {
                                    @include small-image;
                                }
                                & > * {
                                    display: inline-block;
                                }
                                border-left: $defborderthin;
                                margin-top: $elem-padding;
                                margin-left: $thin;
                                cursor: pointer;
                                &.active {
                                    border-left: $defborder;
                                    &:hover {
                                        @include darken-little(border-color, $light2);
                                    }
                                }
                                &:hover {
                                    @include transition(border-left, $defborder);
                                }
                            }
                        }
                    }
                    &:not(.active) {
                        & .tags,
                        .range {
                            display: none;
                        }
                    }
                }
            }
        }
        & .showFilter {
            @include flex-row-nojust;
            cursor: pointer;
            & .arrowImg {
                @include small-image;
                &:not(.active) {
                    transform: rotate(180deg);
                }
            }
        }
        & .filterReset {
            @include link;
            @include slimpill;
        }
    }
}
