@import 'src/scss/mixins.scss';
@import 'src/scss/variables.scss';

:host{
    @include flex-row;
    & h3 {
        width:100%;
    }

    &>div {
        width:100%;
        & h4{
            width:100%;
        }
        & .tags {
            @include flex-e2e;
            &> div {
                @include slimpill;
                @include link;
            }
        }
        &:not(.active) > .tags{
            display:none;
        }
    }
}