<div class="filterSelectedContainer">
  <div class="filterSelected">
    <ng-container *ngFor="let filter of selectedFilter">
      <ng-container *ngFor="let category of filter.categories">
        <ng-container *ngIf="category.isRange">
          <div *ngIf="!isDefaultRangeValue(filter, category)" class="selectedItem pill link"
            (click)="resetRange(filter, category)">
            <p>
              {{ category.name }}: {{ category.tags[0].value }} -
              {{ category.tags[1].value }}<b> X</b>
            </p>
          </div>
        </ng-container>
        <ng-container *ngIf="!category.isRange">
          <div *ngFor="let tag of category.tags" class="selectedItem pill link"
            (click)="toggleTag(filter, category, tag)">
            <p>{{ tag.name }}<b> X</b></p>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
<div #fullcomp class="fullFilterComp slimpill">
  <div class="filterTitle flex-e2e">
    <div class="showFilter flex-row-nojust" (mouseenter)="fullcomp.classList.add('hover')"
      (mouseleave)="fullcomp.classList.remove('hover')"
      (click)="fullimg.classList.toggle('notactive'); isActive = !isActive">
      <img #fullimg class="arrowImg small-image notactive" src="{{ arrowIcon.path }}" alt="{{ arrowIcon.alt }}"
        loading="lazy" />
      <h3>Filtern ({{ count }})</h3>
    </div>
    <p *ngIf="selectedFilter.length > 0" (click)="reset()" class="filterReset link pill">
      Zurücksetzen
    </p>
  </div>
  <div *ngIf="isActive" [@dropDownMenu]>
    <div *ngFor="let filter of filters" #comp class="filterComp menu-item">
      <h4 *ngIf="filters.length > 1" class="filterTitle subTitle">
        {{ filter.name }}
      </h4>
      <div class="filterCategories flex-row-nojust">
        <ng-container *ngFor="let category of filter.categories">
          <div *ngIf="
              !category.isRange &&
              category.tags.length == 1 &&
              category.id != projectFilterProps.relevance
            " (click)="toggleTag(filter, category, category.tags[0])" class="pill tag link" [id]="category.tags[0].id">
            <img *ngIf="category.tags[0].image" src="{{ category.tags[0].image.path }}"
              alt="{{ category.tags[0].image.alt }}" class="tagIcon small-image" loading="lazy" />
            <p>{{ category.tags[0].name }}</p>
          </div>

          <div *ngIf="
              category.id == projectFilterProps.relevance &&
              getRelevanceTag(category) as tag
            " (click)="toggleTag(filter, category, tag)" class="pill tag link active" [id]="tag.id">
            <p>{{ tag.name }}</p>
          </div>

          <app-select
            *ngIf="!category.isRange && category.id != projectFilterProps.relevance && category.tags.length > 1"
            [name]="category.name" [alwaysShowName]="true" [allowMultiple]="true" [fields]="category.tags"
            [toClear]="toClear.asObservable()" (selectEmitter)="setCategory(filter, category, $event)"></app-select>

          <app-range *ngIf="category.isRange" [range]="category"
            (rangeEmitter)="updateRange(filter, $event)"></app-range>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- p>{{filtersSelected$ | async | json}}</p>
<form #filterForm="ngForm">
    {{filterForm.value | json}}
    <div class="filter-item" *ngFor="let filter of filterValues | keyvalue">
        <label for="{{filter.key}}">{{filter.value}}</label>
        <input ngModel type="checkbox" name="{{filter.key}}" value="{{filter.key}}">
    </div>
</form>
<div *ngFor="let filter of filterValues | keyvalue">
    <div #filterItem class="filter" (click)="filterItem.classList.toggle('active')">{{filter.value}}</div>
</div -->