<h4 class="filterTitle">Filtern nach:</h4>

<h5 (click)="reset()" class="filterReset">Filter zurücksetzen</h5>

<div #cat *ngFor="let category of filters.categories">
    <h5 class="categoryTitle" (click)="cat.classList.toggle('active')">{{category.name}}</h5>
    <div class="tags" #tags>
        <div #t *ngFor="let tag of category.tags" (click)="toggleTag(category, tag); t.classList.toggle('active')" class="tag">{{tag.name}}</div>
    </div>
</div>

<div #ran *ngFor="let range of filters.ranges">
    <h5 class="categoryTitle" (click)="ran.classList.toggle('active')">{{range.name}}</h5>
    <p class="rangeFrom">{{r1.value}}</p>
    <input type="range" [min]="range.values[0]" [max]="range.values[range.values.length-1]" [step]="range.step" value="{{range.values[0]}}" (input)="changeRange(range, r1)" class="slider slider1" #r1>
    <input type="range" [min]="range.values[0]" [max]="range.values[range.values.length-1]" [step]="range.step" value="{{range.values[range.values.length-1]}}" (input)="changeRange(range, r2)" class="slider slider2" #r2>
    <p class="rangeTo">{{r2.value}}</p>
</div>



<!-- p>{{filtersSelected$ | async | json}}</p>
<form #filterForm="ngForm">
    {{filterForm.value | json}}
    <div class="filter-item" *ngFor="let filter of filterValues | keyvalue">
        <label for="{{filter.key}}">{{filter.value}}</label>
        <input ngModel type="checkbox" name="{{filter.key}}" value="{{filter.key}}">
    </div>
</form>
<div *ngFor="let filter of filterValues | keyvalue">
    <div #filterItem class="filter" (click)="filterItem.classList.toggle('active')">{{filter.value}}</div>
</div -->

