@import 'src/scss/variables';
@import 'src/scss/mixins';

:host {
    width: $wrapper-width;
    padding:$wrapper-padding;
    & #aboutme{
        @include flex-row;
        & #profilepic {
            border-radius: $border-radius-circle;
            width:$img-width;
        }
        & #details{
            & .socials {
                @include flex-row;
            }
        }
        
    }
}