<div id="aboutme" class="box">
    <img src="" alt="">
    <div class="box" id="details">
        <h1>Welcome</h1>
        <p id="introtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum hic omnis alias excepturi ipsum, numquam eos voluptatibus corrupti amet. Deleniti provident voluptate earum ea quibusdam cumque, adipisci aut voluptas sapiente.</p>
        <div class="socials">
            <app-socials-button link="link" type="mail" name="name" image=""></app-socials-button>
        </div>
    </div>
</div>